/* @font-face {
    font-family: "Gennokaku Gothic";
    src: url(./fonts/SourceHanSansJP-Medium.otf) format("otf");
    font-weight: 500;
} */

@font-face {
    font-family: "Gennokaku Gothic";
    src: url(./fonts/SourceHanSansJP-Bold.otf) format("otf");
    font-weight: bold;
}

/* @font-face {
    font-family: "Gennokaku Gothic";
    src: url(./fonts/SourceHanSansJP-Light.otf) format("otf");
    font-weight: 300;
} */

@font-face {
    font-family: "Gennokaku Gothic";
    src: url(./fonts/SourceHanSansJP-Normal.otf) format("otf");
    font-weight: normal;
}

/* @font-face {
    font-family: "Gennokaku Gothic";
    src: url(./fonts/SourceHanSansJP-Regular.otf) format("otf");
    font-weight: 400;
} */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-family: "Gennokaku Gothic";
    font-size: 11px;
    color: #212121;
}

body {
    margin: 0px;    
    height:100%;
    overflow: hidden;
}

#root{
    height: 100%;
}

.browser{
    height: 100%;
}

.router{
    height: 100%;
}

a {
    text-decoration: none;
    color: #212121;
}

p {
    margin: 0px;
    font-feature-settings: "palt";
    letter-spacing: 1px;
}

input:focus{
    outline: none;
}

/*===== content =====*/

@media only screen and (max-width: 670px) {
    .fakebox{
        margin-left: 0px !important;
    }
}

.fakebox{
    margin-left: 200px;
    height:100%;
    margin-top:56px;
}

.content{
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.content::-webkit-scrollbar {
    width: 0 !important 
}

.content-left{
    width: 675px;
    flex-shrink: 0;
    height:100%;
    position: relative;
}

.content-right{
    width:100%;
    margin: 0px 15px;
    margin-top: 20px;
}

.content-space{
    height:10px;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    background-color: #F9F9F9;
}

.content-bottom-space{
    height:400px;
    background-color: #F9F9F9;
    border-right: 1px solid #d2d2d2;
    position: relative;
}

.content-right-card {
    width: 360px;
    height: 100%;
    margin: 0px auto;
}

.content-right-card-title {
    height:35px;
    padding-left:30px;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.content-space-header{
    height:40px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    margin-left: -1px;
    width: 100%;
}

.content-back-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0px;
}

.content-back{
    width:20px;
    padding: 10px 10px;
    cursor: pointer;
}

.content-back-to{
    font-size: 12px;
    cursor: pointer;
    color: #656565;
}

.content-intro{
    background-color: #ffffff;
    height:44px;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding-left: 80px;
    display: flex;
    align-items: center;
}

.content-intro-title{
    font-size:16px;
    color: #434343;
}

.content-header-title{
    color: #878787;
}

.content-header-title-bold{
    color: #464646;
    font-size: 14px;
    margin: 0px 10px;
}

.content-people-wrapper{
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    background-color: #ffffff;
}

.content-inside-header{
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 35px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}

.content-inside-header p{
    font-size: 14px;
}

.content-full{
    width:100%;
    height: 100%;
    overflow-y: scroll;
}


/*=====search=====*/

@media only screen and (max-width: 670px) {
    .search-box{
        display: flex;
        align-items: center;
    }

    .search-icon{
        left:412px !important;
    }

    .search-box .react-autosuggest__input{
        padding-left: 36px !important;
    }

    .search-box .react-autosuggest__container{
        margin-left: 50px !important;
    }
}

.search-icon{
    height: 18px;
    width: 18px;
    left: 263px;
    position: absolute;
    pointer-events: none;
    z-index:3;
}

.search-box{
    display: flex;
    align-items: center;
    width:100%;
}

.search-result{
    width: auto;
    padding: 10px 20px;
}

.search-box span{
    font-weight: bold;
    margin-left:7px;
}

.search-box .react-autosuggest__input{
    width: 72%;
    height: 36px;
    border-radius: 30px;
    background-color: #E9E9EE;
    border: none;
    padding-left: 50px;
    font-size: 15px;
    font-family: "Gennokaku Gothic";
}

.search-box .react-autosuggest__container {
    position: relative;
    width: 100%;
    margin-left:100px;
}
  
.search-box .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    width: 90%;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
    overflow-x: hidden;
}
  
.search-box .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.search-box .react-autosuggest__suggestion {
    cursor: pointer;
    
}
  
.search-box .react-autosuggest__suggestion--highlighted {
    background-color: rgba(62,62,62,0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box .react-autosuggest__input--focused {
    border-radius: 30px;
    outline: none;
    border: 0.5px solid #9EAEE6;
    background-color: white;
    margin-left:-0.5px;
}

/*== absurd ==*/

.just-for-fun{
    width:270px;
    height:270px;
    transform: rotate(12deg);
    position: absolute;
    top:30px;
    right:140px;
}

.just-for-fun-1{
    width:400px;
    height:400px;
    position: absolute;
    top:-100px;
    left:280px;
}

.just-for-fun2{
    width:260px;
    height:260px;
    transform: rotate(12deg);
    position: absolute;
    top:40px;
    left:70px;
}

/*== message ==*/

.message{
    background: linear-gradient(-90deg, #fff 0%, #fff 98%, #4CD964 98%, #4CD964 100%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    height: 60px;
    width: 330px;
    opacity: 0;
    padding: 10px;
    border-radius: 3px;
    animation: dangle 3s linear;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 13%;
    margin: auto 0;
    z-index: 10;
    padding-left: 30px;
}

.message-check{
    width:20px;
    height: 20px;
    background-color: #4CD964;
    left: 18px;
    border-radius: 100%;
    position: absolute;
}

.message-check-icon{
    color: white;
    margin-left: 3px;
    margin-top: 3px;
}

.message-title{
    font-size: 13px;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 15px;
}

.message-content{
    font-size: 11px;
    margin-left: 9px;
    margin-top: 3px;
    color: #333333;
}

/*== confirm ==*/

.confirm-box{
    position: absolute;
    width: 400px;
    padding: 20px 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 3px;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.onEnter{
    animation: onEnter 200ms ease-out;
}

.onLeave{
    animation: onLeave 200ms ease-out forwards;
}

.confirm-box-row{
    position: relative;
    display: flex;
    flex-direction: column;
}

.confirm-box-close{
    position: absolute;
    right: -13px;
    top: -13px;
    transform: scale(1.2);
    padding: 13px;
    cursor: pointer;
}

.confirm-box-title{
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;
}

.confirm-box-message{
    margin-bottom: 15px;
}

.confirm-box-caution{
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 10px;
    color: #838383
}

.confirm-box-buttons{
    align-self: flex-end;
}

.confirm-box-buttons-yes{
    font-family: "Gennokaku Gothic";
    background-color: #636480;
    color: white;
    border: none;
    height:30px;
    width: 80px;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
}

.confirm-box-buttons-no{
    font-family: "Gennokaku Gothic";
    border: 0.5px solid #838383;
    height:30px;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
}

@keyframes onEnter{
    0% { top: 60%; opacity: 0}
    100% { top: 50%; opacity: 1}
}

@keyframes onLeave{
    0% { top: 50%; opacity: 1}
    100% { top: 60%; opacity: 0}
}

/*== util ==*/

.loading {
    height: 0;
    width: 0;
    padding: 15px;
    border: 3px solid #c4c4c4;
    border-right-color: #646380;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 10;
}

.filter{
    background-color: rgba(0,0,0,.1);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: show .2s;
    z-index: 10;
}

.no-border-top{
    border-top: none !important;
}

.no-show{
    display: none;
}

.show-flex{
    display: flex;
}

.no-events{
    pointer-events: none !important;
}

.no-scroll-y{
    overflow-y: none;
}

.background-white{
    background-color: #ffffff;
}

.no-border-right{
    border-right: none;
}

.zero-opacity{
    opacity: 0;
}

/*===========*/

/*== animation ==*/

@keyframes dangle {
    0% {opacity: 0; margin-top: -30px;}
    10% {opacity: 1; margin-top: 0px;}
    90% {opacity: 1; margin-top: 0px;}
    100% {opacity: 0; margin-top: -30px;}
}

@keyframes tiny-bounce{
    0% {transform: scale(1);}
    10% {transform: scale(0.95);}
    60% {transform: scale(1.1);}
    100% {transform: scale(1.0);}
}

@keyframes micro-bounce{
    0% {transform: scale(1);}
    10% {transform: scale(0.98);}
    100% {transform: scale(1.02);}
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}

@keyframes show {
    0%{opacity: 1}
    100%{opacity: 0}
}