html {
    height:100%;
    font-family: "Noto Serif JP", serif;
    font-size: 12px;
    line-height: normal;
    color: hsl(0, 0%, 13%);
}

body {
    margin: 0px;    
    height:100%;
    overflow: hidden;
}

#root{
    height: 100%;
}

.browser{
    height: 100%;
}

a {
    text-decoration: none;
    color: #212121;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

p {
    line-height: normal;
}

blockquote{
    border-left: 2px solid #333A49;
    padding-left: 10px;
    font-style: italic;
}

code {
    font-family: monospace;
    background-color: #eee;
    padding: 3px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

label,
textarea,
button,
input {
    font-family: "Noto Serif JP", serif !important;
    -webkit-appearance: none;
    outline: none;
    margin: 0px;
    font-feature-settings: "palt";
    line-height: normal;
}

div {
    line-height: normal;
}

input {
    font-size: 12px;
}

input:focus{
    outline: none;
}

.css-1x45xix-skeletonStyles-Skeleton{
    margin: 1px;
}

/*===== content =====*/

@media only screen and (max-width: 670px) {
    .fakebox{
        margin-left: 0px !important;
    }
}

@media (min-width: 670px) and (max-width: 1024px) {
    .fakebox{
        margin-left: 85px !important;
    }
}

.fakebox{
    margin-left: 199px;
    height:100%;
    margin-top:56px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.fakebox::-webkit-scrollbar {
    width: 0 !important;
}

/*=====search=====*/

@media only screen and (max-width: 670px) {
    .search-icon{
        display: none !important;
    }
}

.search-icon{
    height: 17px;
    width: 17px;
    left: 12px;
    position: absolute;
    pointer-events: none;
    z-index:3;
}


/*== animation ==*/

@keyframes bounce{
    0% {
        transform: scale(1.0)
    } 3% {
        transform: scale(0.95)
    } 100% {
        transform: scale(1.10)
    }
}

@keyframes inflate{
    0% {
        transform: scale(1.7)
    } 3% {
        transform: scale(1.65)
    } 100% {
        transform: scale(1.98)
    }
}

/* password */

[type="password"]
{
    letter-spacing: 3.0px;
}

/* radio (from https://codepen.io/manabox/pen/raQmpL) */

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #4CD964;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

/* checkbox */

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    background: #fff;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #4CD964;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.post-feed-more,
.post-feed-response,
.post-feed-star{
    pointer-events: none;
}

.ReactCollapse--collapse {
    transition: height 200ms;
}

.topic-form-progress-circle-animation{
    animation-name: show;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.topic-form-progress-bar-fake-animation{
    animation-name: progressBarExtend;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes progressBarExtend {
    0%{width: 0px}
    100%{width: 55px}
}