/* .topic-elem{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: center;
    height:135px;
    cursor: pointer;
} */
/* 
.topic-elem:hover{
    background-color: rgba(233, 233, 238, 0.25);
} */

/* .topic-elem-right{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    padding-right:15px;
} */

/* .topic-elem-img{
    height: 110px;
    width:110px;
    object-fit: contain;
    padding: 0px 10px;
    flex-shrink:0;
} */

/* .topic-elem-title{
    color: #333333;
    font-size:17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.topic-elem-content{
    margin-bottom: 7px;
} */

/* .topic-elem-likes{
    color: #5a5a5a;
    font-size: 13px;
    margin-right: 20px;;
} */

/* .topic-elem-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
} */
/* 
.topic-elem-tags-wrapper{
    display: flex;
    flex-direction: row;
} */

/* .topic-elem-tags-wrapper p{
    margin-right: 5px;
    font-size: 10px;
    color: #8F8B8B;
} */
