/* 
.post-feed{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea
} */

/* .post-feed:hover{  
    background-color: rgba(233, 233, 238, 0.25);
} */

/* .post-feed-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
} */
/* 
.post-feed-fake{
    position: relative;
}

.post-feed-fake p::before{
    content: "";
    display: none;
    background-color: #1C1C1C;
    opacity: 0.1;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.post-feed-fake p:hover::before{
    display: block;
}

.post-feed-fake p{
    position: absolute;
    right:-7px;
    top: -13px;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
} */

/* .post-feed-down{
    margin-right: 8px;
    pointer-events: none;
} */
/* 
.post-feed-topic{
    font-size: 14px;
    font-weight: bold;
    color: #767676;
    cursor: pointer;
}

.post-feed-topic:hover{
    color: #565656;
} */
/* 
.post-feed-title{
    font-size: 18px;
    color: #1C1C1C;
    margin-bottom: 5px;
    font-weight: bold;
}

.post-feed-content{
    color: #2B2B2b;
    margin-bottom: 10px;
    cursor: pointer;
} */

/* .post-feed-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
} */

/* .post-feed-profile-img{
    width: 37px;
    height: 37px;
    border-radius: 5px;
    object-fit: cover;
    margin-right:10px;
    cursor: pointer;
} */

/* 
.post-feed-profile-top{
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
} */

/* .post-feed-profile-name{
    margin-right: 5px;
    color: #4B4B4B;
    cursor: pointer;
} */

/* .post-feed-profile-action{
    color: #252525;
} */

/* .post-feed-profile-bottom{
    color: #747474;
} */

/* .post-feed-bottom{
    display: flex;
    justify-content: flex-end;
    z-index:2;
} */

/* .post-feed-bottom img{
    width:18px;
    height:18px;
    margin-right:65px;
} */

/* == icon hover ==*/

/* .post-feed-bottom-wrapper{
    position: relative;
} */
/* 
.post-feed-bottom .post-feed-bottom-fake{
    width:40px;
    height:40px;
    position: absolute;
    top:-9px;
    left: -10px;
    cursor: pointer;
}

.post-feed-bottom .post-feed-bottom-fake:hover::before{
    display: block;
}

.post-feed-bottom .post-feed-bottom-fake::before{
    content: "";
    position: absolute;
    display: none;
    width:40px;
    height:40px;
    background-color: #9EAEE5;
    opacity: 0.1;
    border-radius: 100%;shsadfsfdsdfsfdsafdfdssdf
} */

/*== emoji ==*/

/* .post-feed-bottom-emoji{
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    display: none;
    padding: 2px;
    border-radius: 18px;;
    align-items: center;
    position: absolute;
    top:-40px;
    left: -88px;
    animation-name: bounce;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    z-index:1;
}

.post-feed-bottom-emoji img{
    margin: 0px 5px !important;
    padding:5px;
    cursor: pointer;
}

.post-feed-bottom-emoji img:hover{
    animation-name: bounce;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    background-color: rgba(158, 175, 229, 0.3);
    border-radius: 100%;
} */

/*== feed action ==*/

/* .post-feed-bottom-action{
    position: absolute;
    width:180px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    display: none;
    flex-direction: column;
    left: -110px;    
    bottom: 23px;
    border-radius: 5px;
}

.post-feed-bottom-action p {
    padding: 12px 20px;
    border-bottom: 0.5px solid #eaeaea;
    cursor: pointer;
}

.post-feed-bottom-action p:hover{
    background-color: rgba(28,28,28,0.1);
}

.post-feed-bottom-action p:last-child{
    border-bottom: none;
}

.post-feed-bottom-action div {
    height:30px;
} */

/*== icon animation ==*/



/* .post-feed-bottom p:hover ~ .post-feed-star{
    animation-name: bounce;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.post-feed-bottom p:hover ~ .post-feed-response{
    animation-name: bounce;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.post-feed-bottom p:hover ~ .post-feed-more{
    animation-name: bounce;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
} */


/*==Collapse==*/



/* .rotate {
    animation-name: spin;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

.rotate-1 {
    animation-name: spin-1;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
} */

/* .rotate-2 {
    animation-name: spin-2;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

.rotate-3 {
    animation-name: spin-3;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
} */

/* @keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(180deg)
    }
}

@keyframes spin-1 {
    from {
        transform: rotate(180deg)
    }
    to {
        transform: rotate(360deg)
    }
} */
/* 
@keyframes spin-2 {
    from {
        transform: rotate(270deg)
    }
    to {
        transform: rotate(90deg)
    }
}

@keyframes spin-3 {
    from {
        transform: rotate(90deg)
    }
    to {
        transform: rotate(270deg)
    }
} */

/*== report ==*/

/* .confirm-report{
    margin-bottom: 15px;
} */
/* 
.confirm-report-box{
    margin: 10px 0px;
    margin-right: 10px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: #333333;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;

    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #4CD964;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
} */