

/* .post-suggestion-star{
    color: #646380;
    transform: scale(1.1);
    margin-right:3px;
    margin-top: -1px;
} */

/* .post-suggestion-likes{
    font-size: 10px;
    margin-right:10px;
}

.post-suggestion-edit{
    color: #777777;
    font-size: 10px;
    margin-right:5px;
}

.post-suggestion-date{
    color: #777777;
    font-size: 10px;
} */

/* .post-suggestion-right{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 22px;
} */

/* .post-suggestion-permission{
    position: absolute;
    right: 90px;
    transform: scale(1.1);
    color: #9EAEE5;
} */

/* 
.post-suggestion-level-red{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #FF5F5F;
    right: 80px;
    top: 15px;
}

.post-suggestion-level-green{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #4CD964;
    right: 80px;
    top: 15px;
}

.post-suggestion-level-blue{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #9EAEE5;
    right: 80px;
    top: 15px;
} */
