/*===navbar====*/

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.nav-right{
    display: flex;
    justify-content: center;
    margin-right:50px;
    align-items: center;
}


/*=====logo=====*/

@media only screen and (max-width: 670px) {
    .logo{
        margin-bottom:-5px;
    }
    
    .logo-image{
        width:30px !important;
        height:40px !important;
    }

    .logo-name{
        font-size:21px !important;
        font-family: 'Libre Baskerville', serif !important;
    }
}

.logo{
    display: flex;
    align-items: center;
    margin-left:20px;
}

.logo-image{
    width: 40px;
    height: 55px;
    margin-top:-8px;
}

.logo-name{
    font-family: 'Libre Baskerville', serif;
    font-size:26px;
    color: #455964;
    margin-right:20px;
}


/*====nav-icon=====*/

@media only screen and (max-width: 670px) {
    .nav-icon-list{
        display: flex !important;
    }

    .nav-icon-check{
        background-color: #9EAEE5;
        border-radius: 3px;
        top:-3px;
        right:20px;
        width: 6px;
        height: 6px;
        position: absolute;
    }

}

.nav-icon-list{
    display: none;
    padding: 0px;
}

.nav-icon-img{
    width:20px;
    height:20px;
    margin-right:25px;
    cursor: pointer;
}

.nav-icon-row{
    display: flex;
    flex-direction: row;
    position: relative;
}

/*====language=====*/

@media only screen and (max-width: 670px) {
    .nav-language{
        display: none !important;
    }

}

.nav-language{
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.nav-language-down{
    transform: scale(1.1);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-bottom:-5px;
    cursor: pointer;
}

/*===profile===*/

@media only screen and (max-width: 670px) {
    .nav-profile{
        margin-right:-45px;
    }

    .nav-profile-wrapper{
        padding-left: 15px !important;
    }

    .nav-profile-name{
        display: none;
    }

    .nav-profile-img{
        width: 26px !important;
        height: 26px !important;
    }

}

.nav-profile{
    display: flex;
    align-items: center;
}

.nav-profile-wrapper{
    padding-left:40px;
}

.nav-profile-img{
    width:32px;
    height:32px;
    margin-right:10px;
}

.nav-profile-name-space{
    margin-right:5px;
}

.nav-profile-btn{
    width: 125px;
    font-size: 12px;
}