.back{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 10;
    align-items: center;
    left: 11px;
    cursor: pointer;
}

.back-text{
    font-size: 10px;
    color: #656565;
}

.back-img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}